<a href="https://colab.research.google.com/github/silviolima07/Faker/blob/main/Faker.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Creating Fake Data
- See:
https://towardsdatascience.com/how-to-create-fake-data-with-faker-a835e5b7a9d9

In [2]:
!pip install --q FAker

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 23.7 MB/s eta 0:00:00

In [4]:
import string
from faker import Faker 
import json                 
import numpy as np
import pandas as pd
fake = Faker() 

fake = Faker('pt_BR')

# Creating 10k users with Portuguese source words.

In [5]:
fake_name=[]
for i in range(10000):
  #print("Name:", i)
  name = fake.name()
  #print(name)
  fake_name.append(name)

In [6]:
len(fake_name)

10000

# Removing duplicate names.

In [7]:
lista_unic = set(fake_name)

# Unique created names.

In [8]:
len(lista_unic)

7913

In [18]:
# Total lines created
n = 1000

infos = ['name','job', 'company','ssn', 'address', 'sex', 'birthdate']

def create_profile(x): 
    print("Creating profile with ", n, " lines")
    # dictionary 
    profile_data ={} 
    for i in range(0, x): 
        profile_data[i]={} 
        profile_data[i] = fake.profile(infos)

    print("done")
    return profile_data
    


def create_sales(x): 
    print("Creating sales with ", n, " lines")
  
    # dictionary 
    sales_data ={} 
    for i in range(0, x): 
        sales_data[i]={} 
        sales_data[i]['price'] = np.random.randint(10,500)
        sales_data[i]['qtd'] = np.random.randint(1,10)
        sales_data[i]['product'] =  chr(np.random.randint(ord('A'), ord('Z')))
        sales_data[i]['bill'] = sales_data[i]['price'] * sales_data[i]['qtd']
        sales_data[i]['way_of_payment'] = np.random.choice(['boleto', 'cartão_cred', 'a vista'])
    print("done")
    return sales_data


# Create fake profile
profiles = create_profile(n)
df_prof = pd.DataFrame.from_dict(profiles)
df_profile = df_prof.T

# Create fake sales
sales = create_sales(n)
temp_sales = pd.DataFrame.from_dict(sales)
df_sale = temp_sales.T

df_fake = pd.concat([df_profile, df_sale], axis=1)

# Extracting and creating column UF
lista_uf=[]
for i in range(len(df_fake['address'])):
  lista_uf.append(df_fake['address'][i].split(' / ')[1])

df_fake['uf'] = lista_uf
df_fake.drop_duplicates(inplace=True)
df_fake

Creating profile with  1000  lines
done
Creating sales with  1000  lines
done

,job,company,ssn,name,sex,address,birthdate,price,qtd,product,bill,way_of_payment,uf
0,Artista de circo,Martins,68150327444,Miguel Cardoso,M,"Via de Alves, 82\nMirante\n24713551 Cardoso do...",2001-05-25,31,5,B,155,a vista,SP
1,Jangadeiro,Oliveira,19506784310,Amanda Lopes,F,"Recanto de Nogueira, 85\nVila Barragem Santa L...",1956-03-15,391,3,H,1173,cartão_cred,ES
2,Classificador contábil,Alves,94081762350,Samuel Carvalho,M,"Sítio Pedro Henrique Fogaça, 8\nNova Suíça\n24...",1964-12-30,40,8,O,320,a vista,SC
3,Vistoriador de sinistros,Santos da Rosa S.A.,91370258640,Eloah Pereira,F,"Setor Porto, 1\nVirgínia\n19966-772 Cunha de O...",1926-08-26,153,1,W,153,a vista,RO
4,Cartazeiro,Carvalho - ME,19632840542,Antônio Pinto,M,Feira Farias\nVila Jardim Alvorada\n84165994 M...,1986-09-20,206,4,I,824,cartão_cred,TO
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,Engenheiro aeronáutico,Moura e Filhos,96712348528,Augusto Fernandes,M,"Trecho Carlos Eduardo da Mata, 86\nVale Do Jat...",1972-02-27,28,7,X,196,a vista,RR
996,Governanta,Castro Moura - EI,01546382933,Sr. Luiz Miguel Almeida,M,"Campo Carlos Eduardo Caldeira, 596\nDom Cabral...",1918-10-20,77,2,C,154,a vista,PA
997,Educador integrado à saúde pública,Azevedo Costa S/A,64920735847,Calebe Fogaça,M,"Núcleo Pereira, 41\nFloramar\n16411232 Mendes ...",1979-03-02,355,1,X,355,cartão_cred,MA
998,Tecnólogo em tecnologia da madeira,Fernandes,18463970222,Dr. Gustavo Henrique Peixoto,M,"Parque Silveira, 93\nHeliopolis\n55326-175 Cun...",2011-01-15,186,6,N,1116,a vista,PB
999,Coloproctologista,Santos,65942780374,Pedro Viana,M,"Estrada Barros, 26\nNovo Das Industrias\n34435...",1947-07-17,247,3,D,741,boleto,SC